@import 'variables';
@import 'yoga';
@import 'base';
@import 'top-nav';

.main-content__container {
  width: 75%;
  margin: auto;
  color: $regular-text;
}

.main-content {
  margin-top: 2rem;
}

.main-content__title {
  margin-bottom: 0.5rem;
}

.form-content {
  padding: 1rem;
  box-shadow: 0.3rem 0.3rem 2rem $regular-text;
}

.reminders-list {
  margin: 0;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.input-item {
  width: 100%;
  margin-top: 1rem;
}

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
// @include yoga-prototype();
