<header>
  <div class="nav-container">
    <div class="header-container__items">
      <p>{{fa-icon "bars" class="header-item"}}</p>
      <h4 class="header-text header-item">Todos</h4>
    </div>
  </div>
  </header>

  {{outlet}}

  {{!-- <div class="main-content__container">
    <div class="main-content">
      <div class="main-content__title">
        <h2>Filler</h2>
      </div>
      <form class="form-content">
        <ul class="reminders-list">
          <li class="reminders-items"></li>
        </ul>
        <div class="input-container">
          {{input class="input-item" type=text placeholder="Add Item"}}
          <button class="submit-button">Accept</button>
        </div>
      </form>
    </div>
  </div> --}}
